<div class="home">
  <div class="home-content">
    <span class="badge">Catalogue</span>

    <h2>
      <span>Nos produits</span>
    </h2>

    <p class="home-description">
      Retrouvez ci-dessous la liste des produits disponibles, leur prix, leur
      quantité en stock et leur popularité.
    </p>

    <div class="table-container">
       <input
            class="form-control"
            type="text"
            placeholder="Chercher par nom"
            [(ngModel)]="searchproduct"
        />  
        
      <table class="products-table">
        <thead>
            
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Likes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (product of filteredProducts(); track product.id) {
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price }} DT</td>
              <td>{{ product.quantity }}</td>
              <td>❤️ {{ product.likes }}</td>
              <td>
                <button (click)="likeProduct(product.id)">Liker</button>
                <button (click)="buyProduct(product.id)" [disabled]="product.quantity === 0">Acheter</button>
                <button (click)="removeProduct(product.id)">Supprimer</button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6">Aucun produit trouvé.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <h2>
  <span>Nos événements</span>
</h2>

<div class="table-container">
    <input class="form-control"
            type="text"
            placeholder="Chercher par titre"
            [(ngModel)]="searchevent"/>

  <table class="products-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Lieu</th>
        <th>Date</th>
        <th>Prix</th>
        <th>Places</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (event of filteredEvents(); track event.id) {
        <tr>
          <td>{{ event.id }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.price }} DT</td>
          <td>{{ event.nbPlaces }}</td>
          <td>
            <button
              class="btn-reserve"
              (click)="reserveEvent(event.id)"
              [disabled]="event.nbPlaces === 0"
            >
              Réserver
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="8">Aucun événement trouvé.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
    <p class="home-description">
      Valeur totale du stock : <strong>{{ totalValue() }} DT</strong>
    </p>
  </div>
</div>
